{% extends "base.html" %}

{% block main %}

<table class="table table-hover">
<thead>
	<tr>
	<th>Sala</th>
	<th>Usuarios</th>
	<th>Estado</th>
	</tr>
</thead>
<tbody>
{% for room in rooms %}
<tr>
    <td><a href="{{ room.0.get_absolute_url }}">{{ room.0 }}</a></td>
	 <td>
    	<ul>
        	{% for user in room.1 %}
      	  <li>{{ user }}</li>
   	     {% endfor %}
	    </ul>
	 </td>
	 <td>
	 	{% if room.0.state == True %}
	 	<button class="btn btn-error">Locked</button>
		{% else %}
	 	<button class="btn btn-success">Libre</button>
		{% endif %}
	 </td>
</div>
{% endfor %}
</tbody>
</table>
<br clear="all">
{% endblock %}
