{% extends "base.html" %}

{% block extra_js %}
<script>$(showForm);</script>
{% endblock %}

{% block main %}
{% for room in rooms %}
<div class="row">
    <div class="span3"><a href="{{ room.0.get_absolute_url }}">{{ room.0 }}</a></div>
	 <div class="span4">
    <ul>
        {% for user in room.1 %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
	 </div>
	 <div class="span3">
	 	<button class="btn btn-success">Entrar</button>
	 </div>
</div>
{% endfor %}
<br clear="all">
{% endblock %}
