{% extends "base.html" %}

{% block title %}Dudo - {{ room }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/da_room.css">
{% endblock %}

{% block extra_js %}
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ STATIC_URL|default:MEDIA_URL }}js/socket.io.js"></script>
<script>WEB_SOCKET_SWF_LOCATION="{{ STATIC_URL }}flashsocket/WebSocketMain.swf"; window.room = "{{ room.id }}";</script>
<script src="{{ STATIC_URL }}js/cacho.js"></script>
{% endblock %}


{% block main %}
<div class="row">
	<!-- panel izquierdo -->
	<div id="left-panel" class="span3 well">
		<h4>Jugadores:</h4>
		<ul id="userlist">
		</ul>
		<div id="confirmar" class="btn btn-info">Ready</div>
	</div>

	<!-- panel derecho -->
	<div id="main-game" class="span8">
	<div id="dados"></div><br/>
	<select id="jugadas"></select>
	<div id="jugar" class="btn btn-primary">jugar!</div>

		<div id="messages" class="row">
			<div id="lines"></div>
			<div class="span6">
				<form id="send-message">
					<input id="message" /><button>Enviar!</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!--
<div id="chat">
<div id="nicknames"><span>Jugadores:
	 <ul id="userlist">
	 </ul>
	 </span></div>
 <div id="connecting">
    <div class="wrap">Conectando al servidor.</div>
  </div>
  <div id="messages">

    <div id="lines"></div>
  </div>
  <form id="send-message">
    <input id="message">
    <button>Enviar!</button>
	  </form>
	   <button id="confirmar">Confirmar!</button>
</div>
	<select id="jugadas">
	</select>
	<div id="jugar">jugar!</div>
-->
{% endblock %}
