{% extends "base.html" %}

{% block main %}
<div class="hero-unit">
	<h1>Login!</h1>
	{% if form.errors %}
		<div class="alert alert-error">
			Usuario/password erroneos
		</div>
	{% endif %}
	<p> 
	<form class="form-horizontal" method="post" action="{% url django.contrib.auth.views.login %}">
	{% csrf_token %}
		<div class="control-group">
	    {{ form.username.label_tag }}
	    {{ form.username }}
	   <br /> 
		 {{ form.password.label_tag }}
	    {{ form.password }}
		</div>
	
	<input type="submit" value="Entrar" class="btn" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
	</p>
</div>
{% endblock %}
