<!doctype html>

<html lang="es-cl">
<head>

	<meta charset="utf-8">
	<title>{% block title %}Dudo{% endblock %}</title>
	{% block extra_css %}{% endblock %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<style>
	body {
		padding-top: 60px;
	}
	</style>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	{% block extra_js %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Dudo</a>
			 
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/play/">Play</a></li>
              {% if user.is_authenticated %}
				  	<li><a href="/logout/">Logout</a></li>
				  {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	<div id="container">
		<div id="row">
			<div class="span12 offset3">
				{% block main %}{% endblock %}
			</div>
		</div>
	</div>
	 <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
</body>
